In [ ]:
!pip install turicreate

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting turicreate
  Using cached turicreate-6.4.tar.gz (1.9 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: turicreate
  error: subprocess-exited-with-error

  × python setup.py bdist_wheel did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  Building wheel for turicreate (setup.py) ... error
  ERROR: Failed building wheel for turicreate
  Running setup.py clean for turicreate
Failed to build turicreate
ERROR: Could not build wheels for turicreate, which is required to install pyproject.toml-based projects

In [ ]:
import turicreate as tc

ModuleNotFoundError: ignored

In [ ]:
people = tc.SFrame('/content/drive/MyDrive/ML/Machine Learning- Coursera/people_wiki.sframe')
people.head()

In [ ]:
people['word_count'] = tc.text_analytics.count_words(people['text'])
people.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
| sam henderson born october... | {'asses': 1.0, 'sic': 1.0,... |
| aaron lacrate is an americ... | {'streamz': 1.0, 'includin... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'heavies': 1.0, 'new': 1.... |
| cathy caruth born 1955 is ... | {'2002': 1.0, 'harvard': 1... |
+-------------------------------+-------------------------------+
[10 rows x 4 columns]

In [ ]:
people['tf idf'] = tc.text_analytics.tf_idf(people['word_count'])

In [ ]:
elton = people[people['name'] == 'Elton John']

In [ ]:
e_wc = elton.stack('word_count' , ['word','count'])

In [ ]:
e_wc = e_wc.sort('count',ascending=False)

In [ ]:
e_wc

Columns:
	URI	str
	name	str
	text	str
	tf idf	dict
	word	str
	count	float

Rows: 255

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------+-------+
|             tf idf            |  word | count |
+-------------------------------+-------+-------+
| {'movements': 5.0306580197... |  the  |  27.0 |
| {'movements': 5.0306580197... |   in  |  18.0 |
| {'movements': 5.0306580197... |  and  |  15.0 |
| {'movements': 5.0306580197... |   of  |  13.0 |
| {'movements': 5.0306580197... |   a   |  10.0 |
| {'movements': 5.0306580197... |  has  |  9.0  |
| {'movements': 5.0306580197... |   he  |  7.0  |
| {'movements': 5.0306580197... |  john |  7.0  |
| {'movements': 5.0306580197... |   on  |  6.0  |
| {'movements': 5.0306580197... | since |  5.0  |
+-------------------------------+-------+-------+
[255 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
e_tf = elton['tf idf']
e_tf

dtype: dict
Rows: 1
[{'movements': 5.030658019760364, 'social': 2.6226865047083137, 'champion': 3.176548302748404, 'wed': 6.908957945319475, 'legal': 3.4243337579995425, 'became': 1.3300599330549516, 'after': 0.9443334420013064, '2005': 1.6425861253275964, 'december': 4.00285165915879, 'furnish': 18.38947183999428, '1988': 2.4491074905234376, 'gay': 8.685411312155043, 'openly': 5.056906245835299, '1976': 2.71622627778857, 'bisexual': 6.7238155121838785, '200': 3.8524016680323285, 'raised': 3.059531844362216, 'industry': 2.9570625486439512, 'film': 2.033113917057952, 'hollywood': 3.902268967127278, 'parties': 4.495771854722687, 'become': 2.4964678658817263, 'which': 0.7674309670437692, 'hosting': 4.806478735572622, 'year': 1.3423616371539895, 'established': 3.0759047769687164, '1992': 2.278351314316948, '1980s': 2.9688582293167167, 'lgbt': 5.5883326877074415, 'against': 2.0079609791418744, 'involved': 2.674114792438443, '2014': 2.2073995783446634, 'entered': 3.3434917536644764, '2012he': 6.27696518791286, 'buckingham': 6.6170475367581725, 'you': 2.914652239616036, 'nine': 3.2624907325491286, 'academy': 7.06577844530489, 'something': 4.272324859315723, 'artists': 5.450454477295092, 'samesex': 5.89889905399281, 'single': 5.774489654856468, 'solo': 2.838628259301248, 'overallelton': 10.986495389225194, 'no': 7.1892706571891525, 'era': 3.7913080690464858, 'performed': 2.5307521601251795, 'for': 0.36431264671643454, 'foundation': 5.428871534029564, 'john': 13.93931279239831, 'such': 1.763337513538397, '27': 3.110616229728885, 'and': 0.011177158470730924, 'world': 1.370623244696304, 'billboard': 17.30368095754203, '1': 4.195753163848633, 'highestprofile': 8.789270811888976, 'actor': 2.958040225110943, 'aids': 10.262846934045534, 'since': 7.276883586540205, 'consecutive': 7.543981950148101, 'songwriter': 7.349218450296059, '300': 4.553555296486015, 'including': 1.2272824458461182, '40': 6.981906890681876, 'palace': 9.813124388259208, 'in': 0.017377314302186087, 'datein': 8.153282045168979, 'singer': 2.7818235602743835, 'four': 1.922106072733316, '1994': 2.2375557576874794, 'his': 1.0504458208546292, 'of': 0.05403029058844982, 'the': 0.0027426017494956603, 'one': 2.79279220142615, 'continues': 3.3444509863519367, '21': 5.594501726978586, 'rolling': 4.8401661315562965, 'seven': 2.7917137507818355, 'diana': 5.3955084087143375, 'us': 1.9319904488071395, '1997': 4.259668904415891, '10': 2.3157231098806563, 'hits': 3.7189699613970224, 'records': 2.678542843954175, 'million': 9.053489066276878, 'order': 2.8044952529317895, 'bestselling': 9.189156551665185, 'they': 1.8993401178193898, 'fivedecade': 10.293348208665249, 'artist': 2.4318137533979653, 'david': 2.4512658353228582, 'civil': 3.3244978303233013, 'pianist': 4.07474808897352, '100': 8.922437249692202, 'him': 4.726752980361581, 'he': 1.493579903611068, 'march': 1.9573172463231197, 'look': 4.303134443458919, 'at': 0.8612771466165147, 'received': 3.0793219631333275, 'reginald': 6.781802769834228, 'song': 2.869182927623221, 'british': 6.714095277849417, 'golden': 3.618155702913813, 'an': 0.8947172672456913, 'bernie': 6.016682089649193, 'way': 2.9688582293167167, 'all': 1.6431112434912472, 'ii': 3.3077063910260405, 'hercules': 7.322933743095548, '1967': 3.01368460510379, 'collaborated': 3.761741983457223, '33': 4.654993539331503, 'partnership': 4.1599501656686, 'awards': 6.8519553961056126, 'fifty': 5.11719847609142, '1947': 3.756656611073944, 'cbe': 5.249923091746003, 'singles': 3.7372803321108052, 'has': 3.8564778576963508, 'had': 1.177428412308558, 'producer': 2.6157162162644934, 'music': 5.378377975206105, 'career': 1.3050270203415668, 'marriage': 8.230808189229297, 'kenneth': 4.798231266142604, 'with': 0.40493728504412135, 'fellow': 2.364041687151464, 'elton': 17.482320270031995, 'fight': 4.274754994169014, 'worked': 1.553891853362109, 'record': 2.1528869065343033, 'having': 2.448323791423765, 'be': 1.4062480045415613, 'sold': 6.702383005931559, 'making': 2.7223896254962385, 'most': 1.4186204428983973, 'sir': 3.956522477518808, 'least': 4.251903729252247, 'to': 0.1877797507271969, 'as': 0.2543390440248236, 'have': 1.4416847832984716, 'hot': 8.195845859319663, 'inducted': 3.6213152632041816, 'taupin': 9.600201028105303, 'partner': 3.4248536436364145, 'on': 1.1064765201036022, 'more': 5.021336851896435, '2002': 1.8753125887822302, 'brit': 6.391375539090604, '30': 2.6266580085851636, 'lasting': 5.905091024240731, 'composers': 4.295653111806631, 'award': 8.161139242211844, 'royal': 2.8056144472288045, 'tonightcandle': 10.986495389225194, 'westminster': 5.272762583715825, 'occasional': 4.771887290803003, 'copies': 4.500334600281105, 'worldwide': 7.008752931346158, 'charitable': 5.038460400044548, 'england': 2.646755623206051, 'began': 1.727460095710253, 'top': 9.096257662993823, 'time': 1.3253342074200498, '58': 5.437419304329975, 'wind': 4.86181199833099, 'over': 2.975646311911467, 'six': 2.4538226269605703, 'is': 0.11046500190207996, 'culture': 3.1328905761273576, 'later': 1.4294496043477696, 'its': 3.3751896805390627, 'grammy': 4.085764725180022, 'five': 2.2137301792754096, 'winning': 2.416330313042851, 'two': 1.0988831858473562, 'english': 2.239461125047026, 'outstanding': 3.383594927020439, '2008': 1.5093391374786154, 'influential': 3.738702807457348, 'contribution': 3.9980822072256026, 'disney': 4.706099550264999, 'first': 0.6956048713993103, 'funeral': 5.911321573991367, 'brits': 8.421546031763658, 'albums': 6.041205308281332, 'icon': 5.433535804303577, 'than': 6.195113430831934, '2013': 1.9545642372230505, 'inception': 5.391784009623355, 'a': 0.05619184472583146, '1998': 2.0687826320938068, 'globe': 4.144879912747602, '1996': 2.135691193468776, 'tony': 3.6043710234876816, 'legend': 4.464402591055042, '2': 2.2482408126990716, 'center': 2.378000039402171, 'who': 0.9098952189804214, 'from': 0.29375533798563447, 'annual': 3.434258101664393, 'honors': 3.7995943688135627, '25': 2.7469019349192254, 'fame': 6.0143129879257335, 'events': 3.0624230643017776, '2004': 3.3806887216718016, 'stone': 4.332342869041976, 'ranked': 7.642003828328697, 'number': 4.24604216610848, 'years': 1.0752380994247055, 'queens': 4.023305403354957, 'born': 0.268196273764765, '49': 5.309741586956912, 'musicians': 3.5587565486923007, 'kennedy': 4.279633052622447, 'rock': 5.886949007853824, 'been': 2.932432006438807, 'princess': 5.038460400044548, 'roll': 9.162533862388706, 'successful': 2.679282762596886, 'male': 4.378494763929107, 'about': 1.9265128988375737, 'alltime': 4.393450855082757, 'list': 3.1286278298933916, 'third': 2.3506306680914584, 'was': 0.15873157122436693, 'into': 4.815188827219817, 'impact': 4.04144432549936, 'hall': 5.270713564278079, 'inductee': 6.2951475069960505, 'announced': 2.7377046555287814, '19702000': 10.293348208665249, '31': 3.294838566414648, 'named': 2.0300155412252816, 'dwight': 6.44320060695519, 'songwriters': 11.250406447031539, 'heavily': 4.584578192498009, 'authors': 4.320811671442786, 'commander': 4.099963746694684, 'oscar': 4.781937626656504, 'empire': 4.3624301614253005, 'lyricist': 5.644161137260383, 'knighthood': 6.9975113426609195, 'elizabeth': 4.044338683525725, 'services': 6.037737299782756, 'abbey': 5.693190564500702, 'late': 2.374355720500003, 'party': 4.708022306948445, 'composer': 3.2290166226410153, 'diamond': 5.028070696195412, 'jubilee': 5.648957309523876, 'concert': 3.5032509731513444, 'outside': 3.6528189935675104}]

In [ ]:
 e_tf.stack(['word','tf idf']).sort('tf idf',ascending=False)

Columns:
	word	str
	tf idf	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |       tf idf       |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
|  overallelton | 10.986495389225194 |
| tonightcandle | 10.986495389225194 |
|    19702000   | 10.293348208665249 |
|   fivedecade  | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
victoria = people[people['name'] == 'Victoria Beckham']
paul = people[people['name'] == 'Paul McCartney']

In [ ]:
e = elton['tf idf']
v = victoria['tf idf']
p = paul['tf idf']

In [ ]:
d1 = tc.toolkits.distances.cosine(e[0],v[0])

In [ ]:
d2 = tc.toolkits.distances.cosine(e[0],p[0])

In [ ]:
print(d1)

0.9567006376655429

In [ ]:
print(d2)

0.8250310029221779

In [ ]:
knn1 = tc.nearest_neighbors.create(people , features=['word_count'],distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [ ]:
knn2= tc.nearest_neighbors.create(people , features=['tf idf'],distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [ ]:
knn1.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 11.045ms     |

| Done         |         | 100         | 453.67ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+-----------------------+------+
| query_label | reference_label |        distance       | rank |
+-------------+-----------------+-----------------------+------+
|      0      |      19923      | 2.220446049250313e-16 |  1   |
|      0      |      41668      |  0.16142415258967036  |  2   |
|      0      |      25798      |  0.16822542751041114  |  3   |
|      0      |      28825      |  0.16832716558706107  |  4   |
|      0      |      51884      |   0.177315545978884   |  5   |
+-------------+-----------------+-----------------------+------+
[5 rows x 4 columns]

In [ ]:
knn1.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 18.456ms     |

| Done         |         | 100         | 418.729ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+------------------------+------+
| query_label | reference_label |        distance        | rank |
+-------------+-----------------+------------------------+------+
|      0      |      50411      | -2.220446049250313e-16 |  1   |
|      0      |       669       |  0.20730703611504997   |  2   |
|      0      |      45129      |  0.21450978278754795   |  3   |
|      0      |      39504      |  0.21746646874079278   |  4   |
|      0      |      13937      |  0.21769547499150488   |  5   |
+-------------+-----------------+------------------------+------+
[5 rows x 4 columns]

In [ ]:
knn2.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 23.543ms     |

| Done         |         | 100         | 523.095ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+------------------------+------+
| query_label | reference_label |        distance        | rank |
+-------------+-----------------+------------------------+------+
|      0      |      19923      | -2.220446049250313e-16 |  1   |
|      0      |      28825      |   0.7172196678927374   |  2   |
|      0      |      17505      |   0.7476009989692848   |  3   |
|      0      |      26049      |   0.7476719544306141   |  4   |
|      0      |      31595      |   0.7511932487904706   |  5   |
+-------------+-----------------+------------------------+------+
[5 rows x 4 columns]

In [ ]:
knn2.query(victoria)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 23.282ms     |

| Done         |         | 100         | 468.789ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	int
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+------------------------+------+
| query_label | reference_label |        distance        | rank |
+-------------+-----------------+------------------------+------+
|      0      |      50411      | 1.1102230246251565e-16 |  1   |
|      0      |      23386      |   0.5481696102632145   |  2   |
|      0      |      39144      |   0.7849867068283364   |  3   |
|      0      |      17264      |   0.8095855234085036   |  4   |
|      0      |      57583      |    0.81982642291868    |  5   |
+-------------+-----------------+------------------------+------+
[5 rows x 4 columns]

In [ ]:
people['name'][41668]

'Cliff Richard'

In [ ]:
people['name'][669]

'Mary Fitzgerald (artist)'

In [ ]:
people['name'][28825]

'Rod Stewart'

In [ ]:
people['name'][23386]

'David Beckham'